[Unit]
Description=P25 Trunking System
After=network.target
StartLimitIntervalSec=0
[Service]
Type=forking
RemainAfterExit=True
Restart=always
RestartSec=1
User=root
ExecStart=/opt/dvm/start-dvm.sh config.p25.yml
ExecStop=/opt/dvm/stop-watchdog.sh
ExecStop=/opt/dvm/stop-dvm.sh

[Install]
WantedBy=multi-user.target